body{
	background-color: white;
}

a{
	text-decoration-color: none;
	text-decoration-line: none;
	text-decoration-style: none;
}
/*Header*/
.Header {
	display: inline-block;
	width: 107%;
	height: 650px;
	margin-top: -10px;
	margin-left: -10px;

	background-image: url(../_pictures/fundo.jpg);
}

.menuMobile{
	display: none;
	width: 100%;
	height: 100%;
	margin-top: -10px;

	background-color: green;
	

}

.icon, .iconOut{
	display: none;
}

/*Menu*/

.menuTopics{
	display: inline-flex;
	height: 10%;
	width: 100%;
	margin-left: 25%;

	color: black;
	text-align: center;
	font-size: 18px;
}
.menuTopics li{
	padding: 3%;
	border-bottom-size: 1px;
}
.menuTopics li:hover{
        border-bottom-style: solid;
        border-bottom-color: orange;
        color: orange;
           
}

.LImenuPerfils {
	padding: 3%;
}


p, ul, li{
	font-family: 'Raleway', sans-serif;
}

.name{

	margin-top: 10%;
	margin-left: 10%;
	width: 33%;

	font-size: 60px;
	text-align: center;
	background-color: rgb(255,192,0); /*Orange*/
}

.job{

	margin-top: -3%;
	margin-left: 20%;

	font-size: 50px;
	text-align: justify;
}

.boldName{
	color: rgb(255,192,0);
}

/*Sobre mim*/

/*Div*/
.sobreMin{
	display: flex;
	width: 107%;
	height: 40%;

	background-color: #dcdeda;
	margin-left: -10px;
}

/*Img*/
.sobreMimImg{
	height: 40%;
	width: 300px;
}

.olaTText{
	font-size: 60px;
	font-weight: bold;

	margin-top: 10%;
	margin-left: 15%;
}
.sobremimText{
	width: 45%;
	font-size: 50px;
	margin-left: -5%;
	height: 17%;
	margin-top: 17%;

	text-align: center;
	background-color: rgb(255,192,0);
}

/*About me - Content*/
.sobreMinContent{
	display: flex;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;

	background-color: white;
	text-align: justify;
	font-size: 20px;
}

.column-1, .column-2{
	width: 40%;
	margin-left: 5%;
	line-height: 35px;
}
.column-2{
	margin-left: 5%;
}
/*For recrutadores*/
.paraRecrutadores{
	display: flex;
	font-size: 50px;
}

.paraRecrutadores p{
	margin-left: 10%;
	margin-top: 8%;
}
.paraRecrutadores-S{
	color: rgb(255,192,0);
}
.paraRecrutadores-IMG{
	width: 20%;
	margin-left: 20%;
}


/*Quatro Quadros*/
.quatroQuadros{
	display: grid;
	grid-template-columns: repeat(4, 4fr); /*Defind 2 columns*/

	background-color: white;
	text-align: center;
	list-style-type: none;
	font-size: 20px;
	line-height: 30px;

}

.quatroQuadros-1, .quatroQuadros-3{
	background-color: rgb(255,192,0);
	border-radius: 2%;
	color: white;
}


.LIAquatroQuadros-2, .LIAquatroQuadros-4{
	font-weight: bold;
	color: rgb(255,192,0);
}

.LIAquatroQuadros-1, .LIAquatroQuadros-3{
	font-weight: bold;
}

.quatroQuadros div:hover{
	background-color: #f6f7f7;
	color: rgb(255,192,0);
	transition: 0.3s;
}
/*Perfils*/
.perfils{
	display: inline-block;
	width: 100%;
	height: 40%;

	/*Centralizado*/
	padding: 0;
	text-align: center;
	align-items: center;

	background-color: white;
	
}

.perfilsText{
	text-align: center;
	margin-top: 5%;

	font-size: 50px;
	font-weight: bold;
}

.menuPerfils{
	display: inline-flex;
}

/*Imgs*/
.LI-git, .LI-linkdin{
	width: 35%;
}
.LI-git{
	margin-left: 20%;
	margin-top: -5%;
}

.LI-linkdin{
	margin-left: -100%;
	margin-top: -5%;
}
.LI-URI, .LI-hack{
	width: 85%;
	margin-left: -400%;
	margin-top: -7%;
}
/*Rodapé*/
footer{
	display: inline-table;
	height: 50px;
	width: 107%;
	margin-top: 2%;
	margin-left: -10px;
	margin-bottom: -10px;

	background-color: black; /*Orange*/
	text-align: center;
	font-size: 20px;
}
footer p{
	margin-top: 2%;
	color: white;
}


