@media screen and (max-width: 650px){

	/*Menu*/
	.icon{
		display: inline-block;
		position: absolute;
		flex: left;
		width: 60px;
		height: 75px;
		margin-top: 5%;
		margin-left: 75%;
	}
	.iconOut{
		width: 40px;
		height: 35px;
		margin-top: 5%;
		margin-left: 8%;
	}

	.menuTopics{
		display: none;
	}

	/*Title*/

	.name{
		width: 80%;
		margin-top: 20%;
	}

	.boldName, .job{
		text-align: left;
		align-items: left;
	}
	.boldName{
		display: flex;
		margin-left: 10%;
	}
	.job{
		margin-top: 20%;
	}

	/*Perfis*/
	.perfils{

	}
	.imgPerfil:hover, .haker:hover{
		margin-top: 0;
		margin-left: 10%;
		}
	.menuPerfils{
		display: inline;
		align-items: center;

	}

	.imgPerfil{
		width: 50%;
		height: 12%;
	}

	.haker{
		width: 230px;
		height: 100px;
	}

	/*Some mim*/
	/*Div*/
	.sobreMin{
		display: inline-block;
	}

	.olaTText{
		text-align: left;
	}
	.sobremimText{
		text-align: center;
		width: 90%;

		font-size: 40px;
		margin-left: 5%;
		margin-top: 0%;
	}
	.sobreMimImg{
		height: 400px;
		width: 300px;
		margin-left: 15%;

	}

	/*About me - Content*/
	.sobreMinContent{
		display: inline-block;
	}

	.column-1, .column-2{
		width: 90%;
		margin-left: 5%;
		line-height: 35px;
	}
}

@media screen and (min-width: 651px){

	li {
		padding: 5%;
	}
}

