@media screen and (max-width: 650px){

	/*Menu*/
	.icon{
		display: inline-block;
		position: absolute;
		flex: left;
		width: 60px;
		height: 75px;
		margin-top: 5%;
		margin-left: 75%;
	}
	.iconOut{
		width: 40px;
		height: 35px;
		margin-top: 5%;
		margin-left: 8%;
	}

	.menuTopics{
		display: none;
	}

	.menuTopics li:hover{
		color: white;
		border-bottom-style: none;
	}

	/*Title*/

	.name{
		width: 80%;
		margin-top: 20%;
	}

	.boldName, .job{
		text-align: left;
		align-items: left;
	}
	.boldName{
		display: flex;
		margin-left: 10%;
	}
	.job{
		margin-top: 20%;
	}

	/*Perfis*/

	.menuPerfils{
		display: inline;
		align-items: center;
	}
	.LI-URI, .LI-hack{
		width: 30%;
	}

	.LI-git, .LI-linkdin, .LI-URI, .LI-hack{
		margin-left: 0;
		margin-top: 0;
	}


	/*Some mim*/
	/*Div*/
	.sobreMin{
		display: inline-block;
	}

	.olaTText{
		text-align: left;
	}
	.sobremimText{
		text-align: center;
		width: 90%;

		font-size: 40px;
		margin-left: 5%;
		margin-top: 0%;
	}
	.sobreMimImg{
		height: 400px;
		width: 300px;
		margin: 20%;
		margin-top: 0%;

	}

	/*About me - Content*/
	.sobreMinContent{
		display: inline-block;
	}

	.column-1, .column-2{
		width: 90%;
		margin-left: 5%;
		line-height: 35px;
	}
	/*For recrutadores*/
	.paraRecrutadores p{
		font-size: 30px;
		margin-left: 25%;

	}
	.paraRecrutadores{
		display: inline-block;
	}

	.paraRecrutadores-IMG{
		width: 70%;
	}

	/*Quatro Quadros*/
	.quatroQuadros{
		grid-template-columns: repeat(1, 4fr); /*Defind 2 columns*/
		width: 80%;
		margin: 10%;
		line-height: 40px;
	}
}

@media screen and (min-width: 651px){

	li {
		padding: 5%;
	}
}

